.inline{
    display: inline-block;
}

.container{
    padding: 2%;
    border: 2px solid black;
    margin-bottom: 1%;
}

.cuadrado{
    line-height: 20ex;
    text-align: center;
    font-size: large;
}

h1{
    text-align: center;
    padding-top: 3%;
}

#clear{
    line-height: 5ex;
    margin-top: 1%;
    margin-bottom: 1%;
}